version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d iap_db"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=iap_db
    networks:
      - internal

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redisdata_dev:/data
    networks:
      - internal

volumes:
  pgdata_dev:
  redisdata_dev:

networks:
  internal:
